
body{
  background-color: lightblue;
  font-size: 1.5rem;
  /* escriptori font-size: 16px; resolucio 72ppp */
  /* tamany per defecte en funcio del dispositiu. en pc, 1rem= 16px; 0.5rem=8px;
  2rem= en pc, son 32 px; en mòbil, 64px*/
  /* Em permet dissenyar en funcio del dispositiu */
  font-family: Tahoma;
}

h1{
  clear: both;
}

h1, p{
  position: absolute;
  top: 180px;
}

p{
  top: 250px;
}

p:after{
  content: "";
  display: block;
  width: 6.25rem;
  /* width: 100px;100/16 */
  height: 6.25rem;
}

ul, li a{
  text-decoration: none;
  color: black;
  list-style-type: none;
}

li a:hover{
  color: white;
}

input[type=checkbox] {
  visibility: hidden;
}

#alternador {
  width: 5rem;
  height: 5rem;
  background: ;
  position: absolute;
  top:0.5rem;
  left:0.5rem;
  border-radius: 0.5rem;
}

b{
  margin-top: 1rem;
  margin-left: 0rem;
  display: block;
  background: black;
  width: 6rem;
  height: 0.75rem;
}

b:hover{
  background: white;
}

#alternador label{
  width: 4rem;
  height: 4rem;
  background: ;
  position: absolute;
  top:0;
  left:0;
  border-radius: 0.5rem;
  transition: all .5s ease;
  cursor:pointer;
  opacity: 1;
}

.desplega{
  position: absolute;
  opacity:1;
  background: lightgrey;
  width:3.5rem;
  left: -8rem;
  transition: all .5s ease;
  z-index: 100;
}

#alternador input[type=checkbox]:checked+label {
  opacity:1;
}

#alternador input[type=checkbox]:checked+label~.desplega {
  left:0;
}


@media screen and (min-width:951px){
  body{
    background:olive;
    color: white;

  }

  p:after{
    background: url(../img/images1024.jpg);
    /* resoluc 1024 */
    width: 6.25rem;
    height: 6.25rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

}


@media screen and (max-width:950px) and (min-width:650px){
  body{
    background:yellow;
  }
}

@media screen and (max-width:649px){
  body{
    background: pink;
  }

  p:after{
    background: url(../img/images0032.jpg);
    /* resoluc 0032 */
    background-repeat: no-repeat;
    background-size: cover;
  }

}

 