
body{
  background-color: lightblue;
  font-size: 1.5rem;
  /* escriptori font-size: 16px; resolucio 72ppp */
  /* tamany per defecte en funcio del dispositiu. en pc, 1rem= 16px; 0.5rem=8px;
  2rem= en pc, son 32 px; en mòbil, 64px*/
  /* Em permet dissenyar en funcio del dispositiu */
  font-family: Tahoma;
}

h1{
  clear: both;
}

p:after{
  content: "";
  display: block;
  width: 6.25rem;
  /* width: 100px;100/16 */
  height: 6.25rem;
}

nav ul li:hover{
  background-color: yellow;
}

@media screen and (min-width:951px){
  body{
    background:olive;
    color: white;

  }

  p:after{
    background: url(../img/images1024.jpg);
    /* resoluc 1024 */
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav ul li{
    display: block;
    background-color: red;
    margin:0.1rem;
    float: left;
    padding: 0.5rem;
  }

}

@media screen and (max-width:950px) and (min-width:650px){
  body{
    background:yellow;
  }
}

@media screen and (max-width:649px){
  body{
    background: pink;
  }

  p:after{
    background: url(../img/images0032.jpg);
    /* resoluc 0032 */
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav ul li{
    display: block;
    background-color: lightblue;
    width: 8rem;
    margin:0.1rem;
    /* float: left; */
    padding: 0.5rem;

  }
}

  /* BREAKPOINTS*/
